name: Release Tag
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - labeled
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: haya14busa/action-bumpr@faf6f474bcb6174125cfc569f0b2e24cbf03d496
